footer {
    background-color: #210108;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px 10;
    position: fixed;
    width: 101%;
    height: 60px;
    bottom: 0;
}

.header {
    background-color: #210108;
    border: 3px solid black;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    width: 101%;
    height: 60px;
    margin: 0 auto;
}

.links {
    flex-direction: row;
}

nav ul li {
    margin: 0;
    flex-direction: row;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    flex-direction: row;
}

nav ul li a:hover {
    text-decoration: underline;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.quadrado {
    width: 1500px;
    height: 850px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    z-index: 0;
}

.retangulo {
    width: 300px;
    height: 890px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 5px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);    
    margin-left: 20px;
    z-index: 1;
}